.error-404 {
  padding: 30px;
}
.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #9b0740;
  margin-bottom: 0;
  line-height: 150px;
  align-items: center;
}
.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #450228;
  margin-bottom: 30px;
  align-items: center;
}
.error-404 .btn {
  background: #8f0439;
  color: #fff;
  padding: 8px 30px;
  align-items: center;
}
.error-404 .btn:hover {
  background: #6f3e58;
}
@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}
